.column{
    background-color: dodgerblue;
    
    
}
.button{
    
    margin-top: 50%;
}
.logo-img{
    width: 20%;
    height: 90%;
}
.input{
    width: 80%;
}
img{
    margin-left: 20%;
}
.label{
    padding-top: 5%;
}